<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title mb-0 font-size-18">Profile</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Accounts & Payments</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                    
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<!-- start row -->
<div class="row">
    <div class="col-md-12 col-xl-3">
       
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">Personal Information</h5>
              <img src="./public/assets/images/profile-circle-icon.png" height="50px">
                <p class="card-title-desc">
                  <% accounts.forEach(function(account) { %>
                    <h5 class="card-title" style="font-weight: bold;">Customer ID: <%= account.customer_id || '-' %></h5>
                    <b></b>
                    <b></b>
                    <b></b> 
                             </p>
                            

                <div class="mt-3">
                    <p class="font-size-12 text-muted mb-1">PAN No:</p>
                    <h6 class=""> <%= account.pan_number || '-' %></h6>
                </div>

                <div class="mt-3">
                    <p class="font-size-12 text-muted mb-1">Mobile No:</p>
                    <h6 class=""> <%= account.mobile_no || '-' %></h6>
                </div>

                <div class="mt-3">
                    <p class="font-size-12 text-muted mb-1">Bank:</p>
                    <h6 class=""><%= account.bank || '-' %></h6>
                </div>
                <% }); %>
            </div>
        </div>

        

    </div>

    <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                              <h5 class="card-title mb-3">Transaction Details</h5>
                                <% accounts.forEach(function(account) { %>
                                  <p class="card-text"><b>Transaction ID:</b> <%= account.decentroTxnId || '-' %></p>
                                  <p class="card-text"><b>UPI Onboarding Status:</b> <%= account.upiOnboardingStatus || '-' %></p>
                                  <p class="card-text"><b>Merchant Category Code: </b><%= account.merchantCategoryCode || '-' %></p>
                                  <p class="card-text"><b>Transaction Amount / Day Limit:</b> <%= account.transactionAmountLimitPerDay || '-' %></p>
                                  <p class="card-text"><b>Transaction Count / Day Limit:</b> <%= account.transactionCountLimitPerDay || '-' %></p>
                                  <p class="card-text"><b>Transaction Amount / Transaction Limit:</b> <%= account.transactionAmountLimitPerTransaction || '-' %></p>
                      
                            </div>
                            <% }) %>
                          </div>
                    </div>
                </div>
            </div>

           

           
        </div>

       

                <!-- Tab panes -->
               
                  
                   

        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">Bank Details</h5>

                <% accounts.forEach(function(account) { %>
                  <h5 class="card-title" style="font-weight: bold;">Customer ID: <%= account.customer_id || '-' %></h5>
                  <p class="card-text"><b>Bank:</b> <%= account.bank || '-' %></p>
                  <p class="card-text"><b>Status:</b> <%= account.status || '-' %></p>
                  <p class="card-text"><b>Account Number:</b> <%= account.accountNumber || '-' %></p>
                  <p class="card-text"><b>IFSC Code:</b> <%= account.ifscCode || '-' %></p>
                  <p class="card-text"><b>Currency:</b> <%= account.currency || '-' %></p>

                </div>
                <% }) %>
               
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- apexcharts -->
<script src="public/assets/libs/apexcharts/apexcharts.min.js"></script>

<script src="public/assets/js/pages/profile.init.js"></script>

<%- contentFor('BottomJs') %>