<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title mb-0 font-size-18">Create Virtual Bank Account</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Accounts & Payments</a></li>
                    <li class="breadcrumb-item active">Create Virtual Bank Account</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Virtual Bank Account</h4>
               

                <form id="form-horizontal" class="form-horizontal form-wizard-wrapper">
                    <h3>Account Details</h3>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtFirstNameBilling"
                                        class="col-lg-3 col-form-label">Name</label>
                                    <div class="col-lg-9">
                                        <input id="txtFirstNameBilling" name="txtFirstNameBilling"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtLastNameBilling"
                                        class="col-lg-3 col-form-label">Email</label>
                                    <div class="col-lg-9">
                                        <input id="txtLastNameBilling" name="txtLastNameBilling"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtCompanyBilling"
                                        class="col-lg-3 col-form-label">PAN</label>
                                    <div class="col-lg-9">
                                        <input id="txtCompanyBilling" name="txtCompanyBilling"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtEmailAddressBilling"
                                        class="col-lg-3 col-form-label">Mobile</label>
                                    <div class="col-lg-9">
                                        <input id="txtEmailAddressBilling" name="txtEmailAddressBilling"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtAddress1Billing"
                                        class="col-lg-3 col-form-label">Address </label>
                                    <div class="col-lg-9">
                                        <textarea id="txtAddress1Billing" name="txtAddress1Billing"
                                            rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                           
                    </fieldset>
                    <h3>Company Document</h3>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtFirstNameShipping"
                                        class="col-lg-3 col-form-label">KYC Verified</label>
                                    <div class="col-lg-9">
                                        <input id="txtFirstNameShipping" name="txtFirstNameShipping"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtLastNameShipping"
                                        class="col-lg-3 col-form-label">KYC Check Decentro</label>
                                    <div class="col-lg-9">
                                        <input id="txtLastNameShipping" name="txtLastNameShipping"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtCompanyShipping" class="col-lg-3 col-form-label">Min Balance</label>
                                    <div class="col-lg-9">
                                        <input id="txtCompanyShipping" name="txtCompanyShipping"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtEmailAddressShipping"
                                        class="col-lg-3 col-form-label">Transaction Limit</label>
                                    <div class="col-lg-9">
                                        <input id="txtEmailAddressShipping"
                                            name="txtEmailAddressShipping" type="text"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtCityShipping" class="col-lg-3 col-form-label">Customer ID</label>
                                    <div class="col-lg-9">
                                        <input id="txtCityShipping" name="txtCityShipping" type="text"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtStateProvinceShipping"
                                        class="col-lg-3 col-form-label">UPI Onboarding</label>
                                    <div class="col-lg-9">
                                        <input id="txtStateProvinceShipping"
                                            name="txtStateProvinceShipping" type="text"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <h3>Other Details</h3>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtNameCard" class="col-lg-3 col-form-label">State Code</label>
                                    <div class="col-lg-9">
                                        <input id="txtNameCard" name="txtNameCard" type="text"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="ddlCreditCardType"
                                        class="col-lg-3 col-form-label">City</label>
                                    <div class="col-lg-9">
                                        <select id="ddlCreditCardType" name="ddlCreditCardType"
                                            class="form-select">
                                            <option value="">--Please Select--</option>
                                            <option value="AE">American Express</option>
                                            <option value="VI">Visa</option>
                                            <option value="MC">MasterCard</option>
                                            <option value="DI">Discover</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtCreditCardNumber"
                                        class="col-lg-3 col-form-label">Custom VPA</label>
                                    <div class="col-lg-9">
                                        <input id="txtCreditCardNumber" name="txtCreditCardNumber"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtCardVerificationNumber"
                                        class="col-lg-3 col-form-label">Pincode</label>
                                    <div class="col-lg-9">
                                        <input id="txtCardVerificationNumber"
                                            name="txtCardVerificationNumber" type="text"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtExpirationDate"
                                        class="col-lg-3 col-form-label">Merchant Category Code</label>
                                    <div class="col-lg-9">
                                        <input id="txtExpirationDate" name="txtExpirationDate"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtExpirationDate"
                                        class="col-lg-3 col-form-label">Merchant Business Type</label>
                                    <div class="col-lg-9">
                                        <input id="txtExpirationDate" name="txtExpirationDate"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtExpirationDate"
                                        class="col-lg-3 col-form-label">Transaction Count Limit Per Day</label>
                                    <div class="col-lg-9">
                                        <input id="txtExpirationDate" name="txtExpirationDate"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtExpirationDate"
                                        class="col-lg-3 col-form-label">Transaction Amount Limit Per Day</label>
                                    <div class="col-lg-9">
                                        <input id="txtExpirationDate" name="txtExpirationDate"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label for="txtExpirationDate"
                                        class="col-lg-3 col-form-label">Transaction Amount Limit Per Transaction</label>
                                    <div class="col-lg-9">
                                        <input id="txtExpirationDate" name="txtExpirationDate"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h3>Confirm Detail</h3>
                    <fieldset>
                        <div class="p-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="flexCheckDefault1">
                                <label class="form-check-label" for="flexCheckDefault1">I agree with
                                    the Terms and Conditions.</label>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- form wizard -->
<script src="public/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<!-- form wizard init -->
<script src="public/assets/js/pages/form-wizard.init.js"></script>

<%- contentFor('BottomJs') %>